<div style="">

  <div class="flexbox-parent" id="app-content">
    <div fxLayout="row" style="height: 100%">

      <mat-card style="flex: 1;
    box-shadow: none;">
        <mat-card-title>
          Selecionar cliente
        </mat-card-title>
        <app-clients-list [onItemClick]="setClient.bind(this)" [withAddButton]="false" style="
          width: unset !important;
          height: unset !important;"></app-clients-list>
      </mat-card>

      <mat-card style="flex: 1;
    box-shadow: none;">
        <mat-card-title>
          Adicionar produtos
        </mat-card-title>
        <app-products-list [onItemClick]="addProduct.bind(this)" [withAddButton]="false" style="
          width: unset !important;
          height: unset !important;"></app-products-list>
      </mat-card>

      <mat-card style="min-width: 400px;
    box-shadow: none;">
        <mat-card-title>
          Novo pedido
        </mat-card-title>
        <mat-card-content>
          <div class="flexbox-parent">
            <div fxLayout="column wrap" fxLayoutAlign="center stretch">

              <!-- CLIENTE ###########################################  -->
              <div style="height: 16px"></div>
              <div class="mat-h2" style="margin: 0;">Cliente</div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Id:</div>
                <div class="mat-body-1">{{(order| async).client?.id}}</div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Nome:</div>
                <div class="mat-body-1">{{(order| async).client?.name}}</div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Email:</div>
                <div class="mat-body-1">{{(order| async).client?.email}}</div>
              </div>

              <div style="height: 16px"></div>
              <div>
                <mat-divider></mat-divider>
              </div>

              <!-- PAGAMENTO ###########################################  -->
              <div style="height: 16px"></div>
              <div class="mat-h2" style="margin: 0;">Pagamento</div>

              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Valor:</div>
                <div class="mat-body-1">{{format((order| async).value)}}</div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Desconto:</div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <button (click)="editDiscount()" mat-button>ALTERAR</button>
                  <div class="mat-body-1">{{format((order| async).discount)}}</div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-2">Valor total:</div>
                <div class="mat-body-2" style="color: #009688">{{format((order| async).totalValue)}}</div>
              </div>
              <div style="height: 12px;"></div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button (click)="cancelOrder()" mat-button>Cancelar</button>
                <div style="width: 8px"></div>
                <button (click)="createOrder()"
                        [disabled]="!((order | async).orderProducts?.length > 0 && (order | async).client)"
                        color="primary" mat-raised-button>Realizar pedido
                </button>
              </div>

              <div style="height: 16px"></div>
              <div>
                <mat-divider></mat-divider>
              </div>


              <!-- PRODUTOS ###########################################  -->

              <div style="height: 16px"></div>
              <div class="mat-h2" style="margin: 0;">Produtos</div>
              <div>
                <mat-form-field>
                  <mat-label>Buscar produto</mat-label>
                  <input (keyup)="applyFilter($event)" matInput
                         placeholder="Buscar por id, descrição, preço, quantia ou preço total">
                </mat-form-field>
              </div>

              <div class="mat-body-2">Clique em um produto para remove-lo</div>
              <div style="height: 2px"></div>
              <table [dataSource]="tableSource" class="mat-elevation-z3" mat-table matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
                  <td *matCellDef="let element" mat-cell> {{element.product.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Descrição</th>
                  <td *matCellDef="let element" mat-cell> {{element.product.description}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Quantia</th>
                  <td *matCellDef="let element" mat-cell> {{element.amount}}x</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="price">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Preço Un.</th>
                  <td *matCellDef="let element" mat-cell> {{format(element.product.price)}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="totalPrice">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Total.</th>
                  <td *matCellDef="let element" mat-cell> {{format(element.product.price * element.amount)}} </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr (click)="removeProduct(row)" *matRowDef="let row; columns: displayedColumns;" class="element-row"
                    mat-row></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <div *ngIf="this.pageNameService.setPage(this.pageName)"></div>

</div>
