<div id="app-content">
  <div class="input-div">
    <mat-form-field>
      <mat-label>Buscar produto</mat-label>
      <input (keyup)="applyFilter($event)" matInput placeholder="Buscar por id, descrição, preço ou data de cadastro">
    </mat-form-field>

  </div>

  <table [dataSource]="tableSource" class="mat-elevation-z0" mat-table matSort>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Descrição</th>
      <td *matCellDef="let element" mat-cell> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Preço</th>
      <td *matCellDef="let element" mat-cell> {{format(element.price)}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Cadastrado em</th>
      <td *matCellDef="let element" mat-cell> {{element.createdAt.toLocaleString()}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Imagem</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="openImage(element.imageURL); $event.stopPropagation();" *ngIf="element.imageURL" mat-button>
          Abrir
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="handleItemClick(row)" *matRowDef="let row; columns: displayedColumns;"
        [className]="this.onItemClick != null ? 'element-row' : ''" mat-row></tr>
  </table>

  <button (click)="openDialog()" *ngIf="withAddButton" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>
