<div id="app-content">
  <div class="input-div">
    <mat-form-field>
      <mat-label>Buscar cliente</mat-label>
      <input (keyup)="applyFilter($event)" matInput placeholder="Buscar por id, nome, email ou data de cadastro">
    </mat-form-field>
  </div>

  <table [dataSource]="tableSource" class="mat-elevation-z0" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
      <td *matCellDef="let element" mat-cell> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Cadastrado em</th>
      <td *matCellDef="let element" mat-cell> {{element.createdAt.toLocaleString()}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="handleItemClick(row)" *matRowDef="let row; columns: displayedColumns;"
        [className]="this.onItemClick != null ? 'element-row' : ''" mat-row></tr>
  </table>

  <button (click)="openDialog()" *ngIf="withAddButton" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
  </button>

</div>
